{% extends "base.html" %}

{% block title %}Edit Mosque{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}" class="text-success">Admin Dashboard</a></li>
<li class="breadcrumb-item active">Edit Mosque</li>
{% endblock %}

{% block content %}
<div class="dashboard-header">
    <div class="row align-items-center">
        <div class="col">
            <h2><i class="fas fa-edit"></i> Edit Mosque</h2>
            <p class="text-muted mb-0">Update mosque information</p>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card dashboard-card">
            <div class="card-header">
                <h4><i class="fas fa-info-circle"></i> Mosque Information</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="row g-3">
                        <input type="hidden" id="country" name="country" value="Malaysia">
                        <div class="col-md-6">
                            <label for="name" class="form-label">Mosque Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ mosque.name }}" required>
                        </div>
                        
                        <div class="col-md-6">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" value="{{ mosque.phone }}">
                        </div>
                        
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ mosque.email }}">
                        </div>
                        
                        <div class="col-md-6">
                            <label for="capacity" class="form-label">Capacity</label>
                            <input type="number" class="form-control" id="capacity" name="capacity" min="0" value="{{ mosque.capacity }}">
                        </div>
                        
                        <div class="col-md-6">
                            <label for="state" class="form-label">State</label>
                            <select class="form-select" id="state" name="state" required>
                                <option value="" disabled>Select state</option>
                                {% for state in ['Johor', 'Kedah', 'Kelantan', 'Melaka', 'Negeri Sembilan', 'Pahang', 'Perak', 'Perlis', 'Pulau Pinang', 'Sabah', 'Sarawak', 'Selangor', 'Terengganu', 'Kuala Lumpur', 'Labuan', 'Putrajaya'] %}
                                <option value="{{ state }}" {% if mosque.state == state %}selected{% endif %}>{{ state }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-md-6">
                            <label for="jakim_code" class="form-label">
                                JAKIM Prayer Time Zone
                            </label>
                            <select class="form-select" id="jakim_code" name="jakim_code" required>
                                <option value="" disabled>Select prayer time zone</option>
                                <optgroup label="Johor">
                                    <option value="JHR01" {% if mosque.jakim_code == 'JHR01' %}selected{% endif %}>JHR01 (Pulau Aur dan Pulau Pemanggil)</option>
                                    <option value="JHR02" {% if mosque.jakim_code == 'JHR02' %}selected{% endif %}>JHR02 (Johor Bahru, Kota Tinggi, Mersing, Kulai)</option>
                                    <option value="JHR03" {% if mosque.jakim_code == 'JHR03' %}selected{% endif %}>JHR03 (Kluang, Pontian)</option>
                                    <option value="JHR04" {% if mosque.jakim_code == 'JHR04' %}selected{% endif %}>JHR04 (Batu Pahat, Muar, Segamat, Gemas Johor, Tangkak)</option>
                                </optgroup>
                                <optgroup label="Kedah">
                                    <option value="KDH01" {% if mosque.jakim_code == 'KDH01' %}selected{% endif %}>KDH01 (Kota Setar, Kubang Pasu, Pokok Sena)</option>
                                    <option value="KDH02" {% if mosque.jakim_code == 'KDH02' %}selected{% endif %}>KDH02 (Kuala Muda, Yan, Pendang)</option>
                                    <option value="KDH03" {% if mosque.jakim_code == 'KDH03' %}selected{% endif %}>KDH03 (Padang Terap, Sik)</option>
                                    <option value="KDH04" {% if mosque.jakim_code == 'KDH04' %}selected{% endif %}>KDH04 (Baling)</option>
                                    <option value="KDH05" {% if mosque.jakim_code == 'KDH05' %}selected{% endif %}>KDH05 (Bandar Baharu, Kulim)</option>
                                    <option value="KDH06" {% if mosque.jakim_code == 'KDH06' %}selected{% endif %}>KDH06 (Langkawi)</option>
                                    <option value="KDH07" {% if mosque.jakim_code == 'KDH07' %}selected{% endif %}>KDH07 (Puncak Gunung Jerai)</option>
                                </optgroup>
                                <optgroup label="Kelantan">
                                    <option value="KTN01" {% if mosque.jakim_code == 'KTN01' %}selected{% endif %}>KTN01 (Bachok, Kota Bharu, Machang, Pasir Mas, dan lain-lain)</option>
                                    <option value="KTN02" {% if mosque.jakim_code == 'KTN02' %}selected{% endif %}>KTN02 (Gua Musang, Jeli, Lojing)</option>
                                </optgroup>
                                <optgroup label="Melaka">
                                    <option value="MLK01" {% if mosque.jakim_code == 'MLK01' %}selected{% endif %}>MLK01 (Melaka)</option>
                                </optgroup>
                                <optgroup label="Negeri Sembilan">
                                    <option value="NGS01" {% if mosque.jakim_code == 'NGS01' %}selected{% endif %}>NGS01 (Tampin, Jempol)</option>
                                    <option value="NGS02" {% if mosque.jakim_code == 'NGS02' %}selected{% endif %}>NGS02 (Jelebu, Kuala Pilah, Rembau)</option>
                                    <option value="NGS03" {% if mosque.jakim_code == 'NGS03' %}selected{% endif %}>NGS03 (Port Dickson, Seremban)</option>
                                </optgroup>
                                <optgroup label="Pahang">
                                    <option value="PHG01" {% if mosque.jakim_code == 'PHG01' %}selected{% endif %}>PHG01 (Pulau Tioman)</option>
                                    <option value="PHG02" {% if mosque.jakim_code == 'PHG02' %}selected{% endif %}>PHG02 (Kuantan, Pekan, Muadzam Shah)</option>
                                    <option value="PHG03" {% if mosque.jakim_code == 'PHG03' %}selected{% endif %}>PHG03 (Jerantut, Temerloh, Maran, dan lain-lain)</option>
                                    <option value="PHG04" {% if mosque.jakim_code == 'PHG04' %}selected{% endif %}>PHG04 (Bentong, Lipis, Raub)</option>
                                    <option value="PHG05" {% if mosque.jakim_code == 'PHG05' %}selected{% endif %}>PHG05 (Genting Sempah, Janda Baik, Bukit Tinggi)</option>
                                    <option value="PHG06" {% if mosque.jakim_code == 'PHG06' %}selected{% endif %}>PHG06 (Cameron Highlands, Genting Highlands, Bukit Fraser)</option>
                                    <option value="PHG07" {% if mosque.jakim_code == 'PHG07' %}selected{% endif %}>PHG07 (Rompin, Endau, Pontian)</option>
                                </optgroup>
                                <optgroup label="Perak">
                                    <option value="PRK01" {% if mosque.jakim_code == 'PRK01' %}selected{% endif %}>PRK01 (Tapah, Slim River, Tanjung Malim)</option>
                                    <option value="PRK02" {% if mosque.jakim_code == 'PRK02' %}selected{% endif %}>PRK02 (Kuala Kangsar, Sg. Siput, Ipoh, dan lain-lain)</option>
                                    <option value="PRK03" {% if mosque.jakim_code == 'PRK03' %}selected{% endif %}>PRK03 (Lenggong, Pengkalan Hulu, Grik)</option>
                                    <option value="PRK04" {% if mosque.jakim_code == 'PRK04' %}selected{% endif %}>PRK04 (Temengor, Belum)</option>
                                    <option value="PRK05" {% if mosque.jakim_code == 'PRK05' %}selected{% endif %}>PRK05 (Kg Gajah, Teluk Intan, Bagan Datuk, dan lain-lain)</option>
                                    <option value="PRK06" {% if mosque.jakim_code == 'PRK06' %}selected{% endif %}>PRK06 (Selama, Taiping, Bagan Serai, Parit Buntar)</option>
                                    <option value="PRK07" {% if mosque.jakim_code == 'PRK07' %}selected{% endif %}>PRK07 (Bukit Larut)</option>
                                </optgroup>
                                <optgroup label="Perlis">
                                    <option value="PLS01" {% if mosque.jakim_code == 'PLS01' %}selected{% endif %}>PLS01 (Perlis)</option>
                                </optgroup>
                                <optgroup label="Pulau Pinang">
                                    <option value="PNG01" {% if mosque.jakim_code == 'PNG01' %}selected{% endif %}>PNG01 (Pulau Pinang)</option>
                                </optgroup>
                                <optgroup label="Sabah">
                                    <option value="SBH01" {% if mosque.jakim_code == 'SBH01' %}selected{% endif %}>SBH01 (Sandakan)</option>
                                    <option value="SBH02" {% if mosque.jakim_code == 'SBH02' %}selected{% endif %}>SBH02 (Beluran)</option>
                                    <option value="SBH03" {% if mosque.jakim_code == 'SBH03' %}selected{% endif %}>SBH03 (Lahad Datu)</option>
                                    <option value="SBH04" {% if mosque.jakim_code == 'SBH04' %}selected{% endif %}>SBH04 (Bandar Tawau)</option>
                                    <option value="SBH05" {% if mosque.jakim_code == 'SBH05' %}selected{% endif %}>SBH05 (Kudat)</option>
                                    <option value="SBH06" {% if mosque.jakim_code == 'SBH06' %}selected{% endif %}>SBH06 (Gunung Kinabalu)</option>
                                    <option value="SBH07" {% if mosque.jakim_code == 'SBH07' %}selected{% endif %}>SBH07 (Kota Kinabalu)</option>
                                    <option value="SBH08" {% if mosque.jakim_code == 'SBH08' %}selected{% endif %}>SBH08 (Pensiangan)</option>
                                    <option value="SBH09" {% if mosque.jakim_code == 'SBH09' %}selected{% endif %}>SBH09 (Beaufort)</option>
                                </optgroup>
                                <optgroup label="Sarawak">
                                    <option value="SWK01" {% if mosque.jakim_code == 'SWK01' %}selected{% endif %}>SWK01 (Limbang)</option>
                                    <option value="SWK02" {% if mosque.jakim_code == 'SWK02' %}selected{% endif %}>SWK02 (Miri)</option>
                                    <option value="SWK03" {% if mosque.jakim_code == 'SWK03' %}selected{% endif %}>SWK03 (Pandan)</option>
                                    <option value="SWK04" {% if mosque.jakim_code == 'SWK04' %}selected{% endif %}>SWK04 (Sibu)</option>
                                    <option value="SWK05" {% if mosque.jakim_code == 'SWK05' %}selected{% endif %}>SWK05 (Sarikei)</option>
                                    <option value="SWK06" {% if mosque.jakim_code == 'SWK06' %}selected{% endif %}>SWK06 (Lubok Antu)</option>
                                    <option value="SWK07" {% if mosque.jakim_code == 'SWK07' %}selected{% endif %}>SWK07 (Serian)</option>
                                    <option value="SWK08" {% if mosque.jakim_code == 'SWK08' %}selected{% endif %}>SWK08 (Kuching)</option>
                                    <option value="SWK09" {% if mosque.jakim_code == 'SWK09' %}selected{% endif %}>SWK09 (Other)</option>
                                </optgroup>
                                <optgroup label="Selangor">
                                    <option value="SGR01" {% if mosque.jakim_code == 'SGR01' %}selected{% endif %}>SGR01 (Gombak)</option>
                                    <option value="SGR02" {% if mosque.jakim_code == 'SGR02' %}selected{% endif %}>SGR02 (Kuala Selangor)</option>
                                    <option value="SGR03" {% if mosque.jakim_code == 'SGR03' %}selected{% endif %}>SGR03 (Klang)</option>
                                </optgroup>
                                <optgroup label="Terengganu">
                                    <option value="TRG01" {% if mosque.jakim_code == 'TRG01' %}selected{% endif %}>TRG01 (Kuala Terengganu)</option>
                                    <option value="TRG02" {% if mosque.jakim_code == 'TRG02' %}selected{% endif %}>TRG02 (Besut)</option>
                                    <option value="TRG03" {% if mosque.jakim_code == 'TRG03' %}selected{% endif %}>TRG03 (Hulu Terengganu)</option>
                                    <option value="TRG04" {% if mosque.jakim_code == 'TRG04' %}selected{% endif %}>TRG04 (Dungun)</option>
                                </optgroup>
                                <optgroup label="Wilayah Persekutuan">
                                    <option value="WLY01" {% if mosque.jakim_code == 'WLY01' %}selected{% endif %}>WLY01 (Kuala Lumpur)</option>
                                    <option value="WLY02" {% if mosque.jakim_code == 'WLY02' %}selected{% endif %}>WLY02 (Labuan)</option>
                                </optgroup>
                            </select>
                        </div>
                        
                        <div class="col-md-6">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" name="city" value="{{ mosque.city }}" required>
                        </div>
                        
                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <textarea class="form-control" id="address" name="address" rows="3" required>{{ mosque.address }}</textarea>
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Update Mosque
                        </button>
                        <a href="{{ url_for('admin.dashboard') }}" class="btn btn-outline-secondary">
                            <i class="fas fa-arrow-left"></i> Back to Dashboard
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 