{% extends "base.html" %}

{% block title %}Register Mosque{% endblock %}

{% block content %}
<div class="dashboard-header">
    <div class="row align-items-center">
        <div class="col">
            <h2><i class="fas fa-mosque"></i> Register Your Mosque</h2>
            <p class="text-muted mb-0">Register your mosque and become its administrator</p>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-info">
            <i class="fas fa-info-circle"></i> Registering a mosque will automatically make you its administrator.
        </div>
        
        <div class="card dashboard-card">
            <div class="card-header">
                <h4><i class="fas fa-info-circle"></i> Mosque Information</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">
                                    <i class="fas fa-building"></i> Mosque Name
                                </label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="address" class="form-label">
                                    <i class="fas fa-map-marker-alt"></i> Address
                                </label>
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="city" class="form-label">
                                    <i class="fas fa-city"></i> City
                                </label>
                                <input type="text" class="form-control" id="city" name="city" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="state" class="form-label">
                                    <i class="fas fa-map"></i> State/Province
                                </label>
                                <select class="form-select" id="state" name="state" required>
                                    <option value="" disabled selected>Select state</option>
                                    {% for state in ['Johor', 'Kedah', 'Kelantan', 'Melaka', 'Negeri Sembilan', 'Pahang', 'Perak', 'Perlis', 'Pulau Pinang', 'Sabah', 'Sarawak', 'Selangor', 'Terengganu', 'Kuala Lumpur', 'Labuan', 'Putrajaya'] %}
                                    <option value="{{ state }}">{{ state }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="jakim_code" class="form-label">
                                    <i class="fas fa-clock"></i> JAKIM Prayer Time Zone
                                </label>
                                <select class="form-select" id="jakim_code" name="jakim_code" required>
                                    <option value="" disabled selected>Select prayer time zone</option>
                                    <optgroup label="Johor">
                                        <option value="JHR01">JHR01 (Pulau Aur dan Pulau Pemanggil)</option>
                                        <option value="JHR02">JHR02 (Johor Bahru, Kota Tinggi, Mersing, Kulai)</option>
                                        <option value="JHR03">JHR03 (Kluang, Pontian)</option>
                                        <option value="JHR04">JHR04 (Batu Pahat, Muar, Segamat, Gemas Johor, Tangkak)</option>
                                    </optgroup>
                                    <optgroup label="Kedah">
                                        <option value="KDH01">KDH01 (Kota Setar, Kubang Pasu, Pokok Sena)</option>
                                        <option value="KDH02">KDH02 (Kuala Muda, Yan, Pendang)</option>
                                        <option value="KDH03">KDH03 (Padang Terap, Sik)</option>
                                        <option value="KDH04">KDH04 (Baling)</option>
                                        <option value="KDH05">KDH05 (Bandar Baharu, Kulim)</option>
                                        <option value="KDH06">KDH06 (Langkawi)</option>
                                        <option value="KDH07">KDH07 (Puncak Gunung Jerai)</option>
                                    </optgroup>
                                    <optgroup label="Kelantan">
                                        <option value="KTN01">KTN01 (Bachok, Kota Bharu, Machang, Pasir Mas, dan lain-lain)</option>
                                        <option value="KTN02">KTN02 (Gua Musang, Jeli, Lojing)</option>
                                    </optgroup>
                                    <optgroup label="Melaka">
                                        <option value="MLK01">MLK01 (Melaka)</option>
                                    </optgroup>
                                    <optgroup label="Negeri Sembilan">
                                        <option value="NGS01">NGS01 (Tampin, Jempol)</option>
                                        <option value="NGS02">NGS02 (Jelebu, Kuala Pilah, Rembau)</option>
                                        <option value="NGS03">NGS03 (Port Dickson, Seremban)</option>
                                    </optgroup>
                                    <optgroup label="Pahang">
                                        <option value="PHG01">PHG01 (Pulau Tioman)</option>
                                        <option value="PHG02">PHG02 (Kuantan, Pekan, Muadzam Shah)</option>
                                        <option value="PHG03">PHG03 (Jerantut, Temerloh, Maran, dan lain-lain)</option>
                                        <option value="PHG04">PHG04 (Bentong, Lipis, Raub)</option>
                                        <option value="PHG05">PHG05 (Genting Sempah, Janda Baik, Bukit Tinggi)</option>
                                        <option value="PHG06">PHG06 (Cameron Highlands, Genting Highlands, Bukit Fraser)</option>
                                        <option value="PHG07">PHG07 (Rompin, Endau, Pontian)</option>
                                    </optgroup>
                                    <optgroup label="Perak">
                                        <option value="PRK01">PRK01 (Tapah, Slim River, Tanjung Malim)</option>
                                        <option value="PRK02">PRK02 (Kuala Kangsar, Sg. Siput, Ipoh, dan lain-lain)</option>
                                        <option value="PRK03">PRK03 (Lenggong, Pengkalan Hulu, Grik)</option>
                                        <option value="PRK04">PRK04 (Temengor, Belum)</option>
                                        <option value="PRK05">PRK05 (Kg Gajah, Teluk Intan, Bagan Datuk, dan lain-lain)</option>
                                        <option value="PRK06">PRK06 (Selama, Taiping, Bagan Serai, Parit Buntar)</option>
                                        <option value="PRK07">PRK07 (Bukit Larut)</option>
                                    </optgroup>
                                    <optgroup label="Perlis">
                                        <option value="PLS01">PLS01 (Perlis)</option>
                                    </optgroup>
                                    <optgroup label="Pulau Pinang">
                                        <option value="PNG01">PNG01 (Pulau Pinang)</option>
                                    </optgroup>
                                    <optgroup label="Sabah">
                                        <option value="SBH01">SBH01 (Sandakan)</option>
                                        <option value="SBH02">SBH02 (Beluran)</option>
                                        <option value="SBH03">SBH03 (Lahad Datu)</option>
                                        <option value="SBH04">SBH04 (Bandar Tawau)</option>
                                        <option value="SBH05">SBH05 (Kudat)</option>
                                        <option value="SBH06">SBH06 (Gunung Kinabalu)</option>
                                        <option value="SBH07">SBH07 (Kota Kinabalu)</option>
                                        <option value="SBH08">SBH08 (Pensiangan)</option>
                                        <option value="SBH09">SBH09 (Beaufort)</option>
                                    </optgroup>
                                    <optgroup label="Sarawak">
                                        <option value="SWK01">SWK01 (Limbang)</option>
                                        <option value="SWK02">SWK02 (Miri)</option>
                                        <option value="SWK03">SWK03 (Pandan)</option>
                                        <option value="SWK04">SWK04 (Sibu)</option>
                                        <option value="SWK05">SWK05 (Sarikei)</option>
                                        <option value="SWK06">SWK06 (Lubok Antu)</option>
                                        <option value="SWK07">SWK07 (Serian)</option>
                                        <option value="SWK08">SWK08 (Kuching)</option>
                                        <option value="SWK09">SWK09 (Other)</option>
                                    </optgroup>
                                    <optgroup label="Selangor">
                                        <option value="SGR01">SGR01 (Gombak)</option>
                                        <option value="SGR02">SGR02 (Kuala Selangor)</option>
                                        <option value="SGR03">SGR03 (Klang)</option>
                                    </optgroup>
                                    <optgroup label="Terengganu">
                                        <option value="TRG01">TRG01 (Kuala Terengganu)</option>
                                        <option value="TRG02">TRG02 (Besut)</option>
                                        <option value="TRG03">TRG03 (Hulu Terengganu)</option>
                                        <option value="TRG04">TRG04 (Dungun)</option>
                                    </optgroup>
                                    <optgroup label="Wilayah Persekutuan">
                                        <option value="WLY01">WLY01 (Kuala Lumpur)</option>
                                        <option value="WLY02">WLY02 (Labuan)</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <input type="hidden" id="country" name="country" value="Malaysia">
                            
                            <div class="mb-3">
                                <label for="phone" class="form-label">
                                    <i class="fas fa-phone"></i> Phone Number
                                </label>
                                <input type="tel" class="form-control" id="phone" name="phone">
                                <div class="form-text">Optional</div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="email" class="form-label">
                                    <i class="fas fa-envelope"></i> Email Address
                                </label>
                                <input type="email" class="form-control" id="email" name="email">
                                <div class="form-text">Optional</div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="capacity" class="form-label">
                                    <i class="fas fa-users"></i> Capacity
                                </label>
                                <input type="number" class="form-control" id="capacity" name="capacity" min="1">
                                <div class="form-text">Optional - Enter the maximum capacity of the mosque</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-plus"></i> Register Mosque
                        </button>
                        <a href="{{ url_for('mosque.home') }}" class="btn btn-outline-secondary">
                            <i class="fas fa-arrow-left"></i> Back to Home
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 